<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.stmikwp.katalogfilm" 
    versionCode = "10"
    version     = "1.0.0" >

  <name>Pilem</name>

  <description>
      Aplikasi Katalog Film.
  </description>

  <author href="https://dosenprogramming.com" email="dosenprogramming@gmail.com">
      Mohammad Reza Maulana
  </author>
    
  <icon src="icon.png" />
    
  <plugin name="cordova-plugin-whitelist" version="1" />
    
  <access origin="*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="https://*/*" />

  <!--  untuk id, name, deskrpsi dan author silakan diisi propertis kalian sendiri -->

</widget>
